#table1{
margin:0px auto;
}
#dialog1{
display:none;
}
#dialog2{
display:none;
}
#dialog3{
display:none;
}
.koshik1{
margin:0px 5px 0px 5px;
width:20px;
height:20px;
background:green;
border:1px solid black;
box-shadow:0px 0px 15px black;
cursor:pointer;
}